
<!-- <div class="orange-background"> -->




  <div class="show-banner d-flex justify-content-end mt-4" style="background-image: url('<%= @cocktail.cocktail_url %>')">
    <div class="d-flex align-items-baseline ">
      <button id="sweet-alert-demo" class="btn btn btn-danger mt-5 rounded-circle"> <i class="far fa-trash-alt"></i></button>
        <%= link_to "", cocktail_path(@cocktail), method: :delete, id: "delete-link", class: "hidden" %>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5">
      <div class="col-7 ">
      <div class="mb-5">
        <h2> <%= @cocktail.name %> </h2>
      </div>

      <div>
        <ul>
          <% @cocktail.doses.each do |dose| %>
            <li> <%= dose.description %>
            <%= dose.ingredient.name %>

            <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete  do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
            </li>
            <% end %>

        </ul>
      </div>

      </div>

      <div class="col-4">
        <%= render 'doses/new', cocktail: @cocktail, dose:@dose %>
      </div>
    </div>
  </div>




